* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background: #262626;
}

.container {
    min-height: 100vh;

    background: url('./images/image3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header {
    padding-top: 10px;
    margin-left: 100px;
    color: white;
    display: flex;
    gap: 169px;
    align-items: center;
}

.main-header h1 {
    color: rgb(247, 99, 45);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2em;
}

span {
    color: #fff;
}


.list {
    display: flex;
    gap: 37px;
    align-items: center;
}


.list-items {
    list-style: none;
}

.list-items a {
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.list-items a:hover {
    transition: 0.8s ease;
    color: rgb(247, 99, 45);
}

.search {
    width: 300px;
    margin-right: 50px;
}

.sch {
    background: transparent;
    border: 1px rgb(247, 99, 45) solid;
    height: 40px;
    width: 200px;
    margin-top: 13px;
    color: white;
    font-size: 16px;
    float: left;
    border-right: none;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn {
    width: 100px;
    height: 40px;
    background: rgb(247, 99, 45);
    border-left: none;
    border: 2px rgb(247, 99, 45) solid;
    margin-top: 13px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    font-size: 16px;
}

.btn:hover {
    color: rgb(247, 99, 45);
    background: #fff;
    border: none;
    transition: 0.5s ease;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;

}

.section {
    margin-left: 100px;
    padding-top: 120px;
    padding-bottom: 100px;
    display: flex;
}

.section h1 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: bold;

}

.section span {
    color: rgb(247, 99, 45);
    letter-spacing: 3px;
    font-size: 1.15em;
}

.section p {
    color: #fff;
    padding-bottom: 30px;
    width: 50%;
}

.section .join {
    color: #fff;
    background: rgb(247, 99, 45);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 8px;
    font-size: 1.5em;
}

.section a:hover {
    color: rgb(222, 183, 111);
    transition: 0.7s ease;

}

.courses {
    display: none;
}

.form {
    width: 300px;
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 50%);
    color: white;
    position: absolute;
    right: 80px;
    top: 150px;
    border-radius: 7px;
}

.form .btn-1 {
    width: 260px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px #fff solid;
    border-radius: 10px;
    background: #fff;
}

.form .btn-1 p {
    color: rgb(247, 99, 45);
    font-size: 1.6em;
    font-weight: bold;
    padding: 5px 0px;
    margin-left: 60px;
}

.form .input-1 {
    border: 1px rgb(247, 99, 45) solid;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 20px;
    width: 260px;
    padding-top: 20px;
    color: #fff;
    text-align: center;

}

.form .input-2 {
    border: 1px rgb(247, 99, 45) solid;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 20px;
    width: 260px;
    padding-top: 40px;
    color: #fff;
    text-align: center;
}

.form .btn-2 {
    margin-left: 20px;
    margin-top: 20px;
    width: 260px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: rgb(247, 99, 45);
    font-size: 1.2em;
    font-weight: bold;
}

.form .btn-2:hover {
    background: #fff;
    color: rgb(247, 99, 45);
    transition: 0.8s ease;
}

.form .acct {
    text-align: center;
    margin-top: 20px;
    margin-left: 70px;
}

.form .acct a {
    text-decoration: none;
    color: rgb(247, 99, 45);
}

.form .log {
    text-align: center;
    margin-left: 70px;
}

.form .list-2 {
    display: flex;
    margin-left: 35px;
    gap: 20px;
    list-style: none;
    position: relative;
    bottom: 10px;

}

.form .list-items-1 a {
    color: #fff;

}

.form .list-items-1 a:hover {
    color: rgb(247, 99, 45);
    transition: 0.7s ease;
}

.section-1 {
    display: none;
}

.section-2 p {
    padding-top: 30px;
    margin-left: 450px;
    font-size: 1.1em;
    color: #fff;

}

.section-2 .sub {
    padding-top: 50px;
    margin-left: 500px;
}

.section-2 .sub h2 {
    color: rgb(247, 99, 45);

    font-size: 1.5em;
}

.section-2 .sub input {
    margin-left: 20px;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.section-2 .sub p {
    border: 1px #fff solid;
    width: 150px;
    padding-left: 40px;
    border-radius: 3px;
}

.section-2 .sub .sub-text {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 65px;
}

/* .section-2 .sub .sub-text:hover {
    background: #fff;
    transition: 00.6s;
} */

.section-2 .sub .sub-text a {
    text-decoration: none;
    color: #fff;

}

.section-2 .sub .sub-text a:hover {
    color: rgb(247, 99, 45);
    transition: 0.6s ease;

}

.section-2 .sub-text-2 {
    padding-left: 120px;
    width: 300px;
    color: #fff;
}

.section-2 h1 {
    padding-top: 100px;
    margin-left: 100px;
    color: rgb(247, 99, 45);

    font-size: 2.5em;
    letter-spacing: 10px;
    border-bottom: 1px rgb(247, 99, 45) solid;
    margin-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.list-3 {
    padding-top: 70px;
    padding-bottom: 100px;
    margin-left: 140px;
    margin-right: 100px;
    display: flex;
    gap: 150px;
}


.main-footer {
    padding-left: 500px;
    padding-bottom: 20px;
    color: rgb(247, 99, 45);
}

@media (max-width: 1380px) {
    .main-header {
        gap: 163px;
    }
}

@media (max-width: 1360px) {

    .main-header {
        gap: 160px;
    }

}

@media (max-width: 1340px) {
    .main-header {
        gap: 145px;
    }
}

@media (max-width: 1320px) {

    .main-header {
        gap: 140px;
    }
}

@media (max-width: 1300px) {
    .main-header {
        gap: 132px;
    }
}

@media (max-width: 1280px) {
    .main-header {
        gap: 122px;
    }
}


@media (max-width: 1270px) {
    .main-header {
        gap: 117px;
    }
}

@media (max-width: 1260px) {
    .main-header {
        gap: 110px;
    }
}

@media (max-width: 1250px) {
    .main-header {
        gap: 100px;
    }
}

@media (max-width: 1240px) {
    .main-header {
        gap: 97px;
    }
}

@media (max-width: 1230px) {
    .main-header {
        gap: 92px;
    }
}

@media (max-width: 1210px) {
    .main-header {
        gap: 83px;
    }


}



@media (max-width: 1200px) {
    .main-header {
        gap: 99px;
        margin-left: 70px;
    }

    .section {
        margin-left: 70px;

    }

    .section-1 {
        margin-left: 110px;
        padding-bottom: 20px;
    }

    .section-1 p {
        color: #fff;
        padding-bottom: 10px;
        padding-left: 90px;
    }

    .section-1 .list-2 {
        display: flex;
        gap: 30px;
    }

    .section-1 .list-2 .list-items-1 {
        list-style: none;
    }

    .section-1 .list-2 .list-items-1 a {
        color: #fff;
    }

    .section-1 .list-2 .list-items-1 a:hover {
        color: rgb(247, 99, 45);
        transition: 0.6s ease;
    }

    .section-2 p {
        margin-left: 350px;
    }

    .section-2 .sub {
        margin-left: 400px;
    }

    .section-2 h1 {
        margin-left: 70px;
        letter-spacing: 5px;
        font-size: 2em;
    }

    .section-2 .list-3 {
        margin-left: 70px;
        gap: 110px;
    }


}

@media (max-width: 1180px) {
    .main-header {
        gap: 82px;
    }
}



@media (max-width: 1170px) {
    .main-header {
        gap: 72px;
    }
}

@media (max-width: 1160px) {
    .main-header {
        gap: 72px;
    }
}



@media (max-width: 1140px) {
    .main-header {
        gap: 62px;
    }
}

@media (max-width: 1120px) {
    .main-header {
        gap: 51px;
    }
}


@media (max-width: 1100px) {
    .main-header {
        gap: 29px;
        margin-left: 50px;
    }



    .main-header h1 {
        font-size: 1.5em;

    }

    .list {

        margin-left: 70px;
    }

    .search {
        position: absolute;
        right: 0px;
        margin-right: -5px;
    }

    .sch {
        width: 200px;
        height: 30px;
    }

    .btn {
        width: 60px;
        height: 30px;
        font-size: 15px;
    }

    .list-items a {
        font-size: 0.8em;
    }

    .section {
        margin-left: 50px;

    }

    .section .sub-section p {
        width: 40%;
    }

    .form {
        position: absolute;
        right: 0px;
        margin-right: 30px;
    }

    .section-2 {
        position: relative;
        left: 0px;

    }


    .section-2 p {
        margin-left: 300px;
    }

    .section-2 .sub {
        margin-left: 350px;
    }

    .section-2 .sub-text-2 {
        margin-left: 300px;
    }

    .section-2 h1 {
        margin-left: 50px;
        letter-spacing: 3px;
        font-size: 2em;
        width: 920px;
    }

    .section-2 .list-3 {
        margin-left: 50px;
        gap: 110px;
    }

    .main-footer {

        padding-left: 400px;
    }
}


@media (max-width: 1080px) {
    .main-header {
        gap: 25px;
    }


}



@media (max-width: 1060px) {
    .main-header {
        gap: 12px;
    }


}


@media (max-width: 1040px) {
    .main-header {
        gap: 85px;
        margin-left: 50px;
        align-items: center;
        align-items: center;
    }


    .main-header h1 {
        font-size: 1.5em;

    }

    .list {

        margin-left: 70px;
    }

    .search {
        position: absolute;
        right: 0px;
        margin-right: -5px;
    }

    .sch {
        width: 200px;
        height: 30px;
    }

    .btn {
        width: 60px;
        height: 30px;
        font-size: 15px;
    }

    .list-items a {
        font-size: 0.8em;
    }

    .section {
        margin-left: 50px;

    }

    .section .sub-section p {
        width: 40%;
    }

    .form {
        position: absolute;
        right: 0px;
        margin-right: 30px;
    }

    .section-2 {
        position: relative;
        left: 0px;

    }


    .section-2 p {
        margin-left: 300px;
    }

    .section-2 .sub {
        margin-left: 350px;
    }

    .section-2 .sub-text-2 {
        margin-left: 300px;
    }

    .section-2 h1 {
        margin-left: 50px;
        letter-spacing: 3px;
        font-size: 2em;
        width: 900px;
    }

    .section-2 .list-3 {
        position: relative;
        margin-left: 50px;
        gap: 100px;
    }


    .main-footer p {
        margin-left: -50px;
    }
}

@media (max-width: 1000px) {

    .main-header {
        gap: 20px;
        align-items: center;
    }

    .sch {
        height: 25px;
    }

    .btn {
        height: 25px;
    }


    .section-2 p {
        margin-left: 250px;
    }

    .section-2 .sub {
        margin-left: 300px;
    }

    .section-2 .sub-text-2 {
        margin-left: 250px;
    }

    .section-2 h1 {
        width: 800px;
    }

    .section-2 .list-3 {
        gap: 85px;
    }

}

@media (max-width: 950px) {

    .main-header {
        gap: 50px;
        align-items: center;
        margin-left: 50px;
    }

    .section .join {
        padding: 7px 32px;
        border-radius: 5px;
        font-size: 1.3em;
    }

    .search {
        position: absolute;
        margin-right: 100px;
    }

    .hamburger {
        position: absolute;
        right: 20px;
        display: block;
        margin-right: 20px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .list {
        position: fixed;
        left: -100%;
        top: 0px;
        margin-left: 0px;
        padding-top: 100px;
        gap: 70px;
        flex-direction: column;
        background: linear-gradient(rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 50%);
        /* border-right: 1px rgb(247, 99, 45) solid; */
        width: 50%;
        height: 100%;
        text-align: center;
        transition: 0.8s ease-in-out;
    }

    .list.active {
        left: 0px;

    }

    .list a {
        font-size: 1.1em;
        letter-spacing: 2px;
        border: 1px rgb(247, 99, 45) solid;
        border-radius: 3px;
        padding: 5px;
        color: rgb(247, 99, 45);
        background: #262626;

    }

    .list a:hover {
        color: #fff;
        background: rgb(247, 99, 45);
    }

}

@media (max-width: 900px) {

    .section-2 h1 {
        font-size: 2em;
        width: 750px;
    }

    .section-2 .list-3 {
        gap: 65px;
    }
}

@media (max-width: 850px) {


    .section .join {
        padding: 7px 32px;
        border-radius: 5px;
        font-size: 1.3em;
    }

    .section h1 {
        font-size: 2.5em;
    }

    .search {

        margin-right: 50px;
    }

    .sch {
        height: 22px;
        width: 150px;
    }

    .btn {
        height: 22px;
        width: 45px;
        font-size: 12px;
    }

    .section-2 h1 {
        font-size: 2em;
        width: 680px;
    }

    .section-2 .list-3 {
        gap: 55px;
    }

    .section-2 p {
        margin-left: 180px;
    }

    .section-2 .sub {
        margin-left: 230px;
    }

    .section-2 .sub-text-2 {
        margin-left: 180px;
    }

    .main-footer {

        margin-left: -60px;
    }
}

@media(max-width: 768px) {

    .main-header {
        margin-left: 50px;
        padding-top: 5px;
        gap: 50px;

    }

    .main-header h1 {
        font-size: 1.2em;

    }

    .search {
        margin-right: 20px;
    }

    .sch {
        background: transparent;
        border: 1px rgb(247, 99, 45) solid;
        height: 20px;
        width: 150px;
        margin-top: 5px;
        color: white;
        font-size: 12px;
        float: left;
        border-right: none;
        /* padding: 10px; */
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .btn {
        width: 50px;
        height: 22px;
        background: rgb(247, 99, 45);
        border-left: none;
        border: 2px rgb(247, 99, 45) solid;
        margin-top: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #fff;
        font-size: 12px;
    }

    .hamburger {
        display: block;
        margin-right: 30px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .list {
        position: fixed;
        left: -100%;
        top: 0px;
        padding-top: 150px;
        width: 100%;
        height: 200%;
        background: linear-gradient(rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.5) 50%);
        border-right: 0.5px rgb(247, 99, 45) solid;
        transition: 0.8s ease-in-out;
        flex-direction: column;
        gap: 80px;
    }

    .list.active {
        left: 0px;

    }

    .list a {
        font-size: 1.1em;
        letter-spacing: 2px;
        border: 1px rgb(247, 99, 45) solid;
        border-radius: 3px;
        padding: 5px;
        color: rgb(247, 99, 45);
        background: #262626;

    }

    .list a:hover {
        color: #fff;
        background: rgb(247, 99, 45);
    }

    .section {
        margin-left: 50px;
        padding-top: 70px;
        padding-bottom: 100px;
        display: block;
    }

    .section .sub-section h1 {
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2em;
        font-weight: bold;
        line-height: 30px;

    }

    .section span {
        color: rgb(247, 99, 45);
        letter-spacing: 3px;
        font-size: 1.15em;
    }

    .section .sub-section .web-text {
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 550px;

    }

    .section .join {
        text-decoration: none;
        background: none;
        padding: 0px;
        font-size: 1.1em;
        border-bottom: 1px rgb(247, 99, 45) solid;
        border-radius: 0px;
    }

    .section .form {
        display: none;
    }


    .section-1 {
        display: block;
        /* margin-left: 220px; */
    }

    .section-1 p {
        display: none;
    }

    .section-1 .list-2 {
        position: absolute;
        top: 250px;
        right: 50px;
        display: flex;
        flex-direction: column;
    }

    .section-2 {
        position: relative;
        left: 0px;

    }

    .section .courses {
        display: block;
        padding-top: 50px;
    }

    .section .courses h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.7em;
        font-weight: bolder;
        color: #fff;
        padding-bottom: 20px;
    }

    .section .courses .courses-list {
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 25px;

    }

    .section .courses .courses-list .courses-list-items {
        list-style: none;
        font-size: 1.2em;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        color: #fff;
    }

    .section .courses .courses-list .courses-list-items span {
        color: rgb(247, 99, 45);
        background-color: #262626;
        border-radius: 3px;
        padding: 5px 10px;

    }

    .section-2 p {
        padding-top: 30px;
        margin-left: 150px;
        font-size: 1.1em;
        color: #fff;

    }


    .section-2 .sub {
        padding-top: 50px;
        margin-left: 0px;
    }


    .section-2 .sub h2 {
        color: rgb(247, 99, 45);
        padding-left: 200px;
        font-size: 1.5em;
    }

    .section-2 .sub input {
        margin-left: 250px;
        width: 200px;
        height: 25px;
        border-radius: 5px;
        margin-bottom: 5px;
        padding: 5px;
    }

    .section-2 .sub .sub-text {
        border: 0px;
        padding-left: 220px;
    }

    .section-2 .sub .sub-text a {
        border: 1px #fff solid;
        padding: 2px 30px;
        border-radius: 3px;
    }

    .section-2 .sub-text-2 {
        margin-left: 160px;
        font-size: 1em;
    }

    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 650px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 70px;
    }

    .section-2 .list-3 .list-items a {
        font-size: 0.7em;
    }

    .main-footer {
        margin-left: -90px;
        padding-bottom: 10px;
        color: rgb(247, 99, 45);
    }
}



@media(max-width: 762px) {

    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 580px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 50px;
    }

}



@media(max-width: 760px) {

    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 580px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 50px;
    }

}

@media(max-width: 755px) {


    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 630px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 70px;
    }


}



@media(max-width: 750px) {


    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 620px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;
        gap: 60px;
    }

}

@media(max-width: 745px) {



    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 610px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 50px;
    }

}

@media(max-width: 740px) {


    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 610px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 50px;
    }

}

@media(max-width: 735px) {


    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 610px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 50px;
    }

}


@media(max-width: 730px) {

    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 610px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 50px;
    }

}

@media(max-width: 725px) {



    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 610px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 50px;
    }

}

@media(max-width: 720px) {


    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 610px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 50px;
    }

}

@media(max-width: 715px) {

    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 590px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;
        gap: 50px;
    }

}

@media(max-width: 710px) {

    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 580px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 50px;
    }

}

@media(max-width: 705px) {


    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 560px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 50px;
    }

}

@media(max-width: 700px) {


    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 550px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 50px;
    }

    .section .sub-section .web-text {
        width: 70%;
    }
}

@media(max-width: 695px) {



    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 520px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 40px;
    }

}

@media(max-width: 690px) {

    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 520px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 40px;
    }

}


@media(max-width: 685px) {

    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 520px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 40px;
    }

}


@media(max-width: 680px) {

    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 520px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 40px;
    }

}


@media(max-width: 675px) {

    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 520px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 40px;
    }

}


@media(max-width: 670px) {

    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 520px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 40px;
    }

}


@media(max-width: 665px) {

    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 520px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        /* margin-right: 20px; */

        gap: 40px;
    }

}


@media(max-width: 660px) {

    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 520px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 40px;
    }

}


@media(max-width: 690px) {


    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 520px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 40px;
    }

}


@media(max-width: 690px) {


    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 520px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 40px;
    }

}


@media(max-width: 690px) {

    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 520px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 40px;
    }

}


@media(max-width: 690px) {


    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 50px;
        letter-spacing: 0px;
        width: 520px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 50px;
        margin-right: 20px;

        gap: 40px;
    }

}


@media(max-width: 650px) {

    .section .sub-section .web-text {
        width: 60%;
    }

    .section-2 p {
        margin-left: 80px;
    }


    .section-2 .sub {
        margin-left: 0px;
    }


    .section-2 .sub h2 {
        color: rgb(247, 99, 45);
        padding-left: 125px;
        font-size: 1.5em;
    }

    .section-2 .sub input {
        margin-left: 170px;
        width: 200px;
        height: 25px;
        border-radius: 5px;
        margin-bottom: 5px;
        padding: 5px;
    }

    .section-2 .sub .sub-text {
        border: 0px;
        padding-left: 140px;
    }


    .section-2 .sub-text-2 {
        margin-left: 80px;
        font-size: 1em;
    }

}


@media(max-width: 600px) {

    .section .sub-section .web-text {
        width: 60%;
    }

    .section-2 p {
        margin-left: 80px;
    }


    .section-2 .sub {
        margin-left: 0px;
    }


    .section-2 .sub h2 {
        color: rgb(247, 99, 45);
        padding-left: 125px;
        font-size: 1.5em;
    }

    .section-2 .sub input {
        margin-left: 170px;
        width: 200px;
        height: 25px;
        border-radius: 5px;
        margin-bottom: 5px;
        padding: 5px;
    }

    .section-2 .sub .sub-text {
        border: 0px;
        padding-left: 140px;
    }


    .section-2 .sub-text-2 {
        margin-left: 80px;
        font-size: 1em;
    }


    .section-2 h1 {
        width: 470px;
    }

    .section-2 .list-3 {
        gap: 25px;
    }

    .main-footer {
        margin-left: -170px;
    }
}

@media(max-width: 550px) {

    .section .sub-section .web-text {
        width: 60%;
    }

    .section-2 p {
        margin-left: 50px;
    }


    .section-2 .sub {
        margin-left: 0px;
    }


    .section-2 .sub h2 {
        color: rgb(247, 99, 45);
        padding-left: 100px;
        font-size: 1.5em;
    }

    .section-2 .sub input {
        margin-left: 145px;
        width: 200px;
        height: 25px;
        border-radius: 5px;
        margin-bottom: 5px;
        padding: 5px;
    }

    .section-2 .sub .sub-text {
        border: 0px;
        padding-left: 115px;
    }


    .section-2 .sub-text-2 {
        margin-left: 50px;
        font-size: 1em;
    }

    .section-2 h1 {
        width: 410px;
    }

    .section-2 .list-3 {
        gap: 15px;
    }
}

@media(max-width: 500px) {


    .main-header {
        margin-left: 20px;
        padding-top: 5px;
        gap: 50px;

    }

    .main-header h1 {
        font-size: 1.2em;

    }

    .search {
        margin-right: 20px;
    }

    .sch {
        background: transparent;
        border: 1px rgb(247, 99, 45) solid;
        height: 20px;
        width: 150px;
        margin-top: 5px;
        color: white;
        font-size: 12px;
        float: left;
        border-right: none;
        /* padding: 10px; */
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .btn {
        width: 50px;
        height: 22px;
        background: rgb(247, 99, 45);
        border-left: none;
        border: 2px rgb(247, 99, 45) solid;
        margin-top: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #fff;
        font-size: 12px;
    }

    .hamburger {
        display: block;
        margin-right: 10px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .list {
        position: absolute;
        left: -100%;
        top: 0px;
        padding-top: 150px;
        width: 100%;
        height: 200%;
        background: #262626;
        border-right: 0.5px rgb(247, 99, 45) solid;
        transition: 0.8s ease-in-out;
        flex-direction: column;
        gap: 80px;
    }

    .list.active {
        left: 0px;

    }

    .list .list-items a {
        font-size: 1.1em;
        letter-spacing: 2px;
        border: 1px rgb(247, 99, 45) solid;
        border-radius: 3px;
        padding: 5px;
        color: rgb(247, 99, 45);
        background: #262626;
    }

    .list .list-items a:hover {
        color: #fff;
        background: rgb(247, 99, 45);
    }

    .section.active {
        display: none;
    }

    .section {
        margin-left: 20px;
        padding-top: 70px;
        padding-bottom: 100px;
        display: block;
        position: relative;
        margin-left: 20px;
    }

    .section h1 {
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2em;
        font-weight: bold;
        line-height: 30px;
        ;
    }

    .section span {
        color: rgb(247, 99, 45);
        letter-spacing: 3px;
        font-size: 1.15em;
    }

    .section .sub-section .web-text {
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 450px;

    }

    .section .join {
        text-decoration: none;
        background: none;
        padding: 0px;
        font-size: 1.1em;
        border-bottom: 1px rgb(247, 99, 45) solid;
        border-radius: 0px;
    }

    .section .form {
        display: none;
    }


    .section-1 {
        display: block;
        margin-left: 110px;
    }

    .section-1 p {
        display: block;
    }

    .section-1 .list-2 {
        position: static;
        flex-direction: row;
    }

    .section-2 {
        position: relative;
        left: 0px;

    }


    .section-2 p {
        padding-top: 30px;
        margin-left: 40px;
        font-size: 1.1em;
        color: #fff;

    }


    .section-2 .sub {
        padding-top: 50px;
        margin-left: 0px;
    }


    .section-2 .sub h2 {
        color: rgb(247, 99, 45);
        padding-left: 85px;
        font-size: 1.5em;
    }

    .section-2 .sub input {
        margin-left: 135px;
        width: 200px;
        height: 25px;
        border-radius: 5px;
        margin-bottom: 5px;
        padding: 5px;
    }

    .section-2 .sub .sub-text {
        border: 0px;
        padding-left: 105px;
    }

    .section-2 .sub .sub-text a {
        border: 1px #fff solid;
        padding: 2px 30px;
        border-radius: 3px;
    }

    .section-2 .sub-text-2 {
        margin-left: 35px;
        font-size: 0.8em;
    }

    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 20px;
        letter-spacing: 0px;
        width: 435px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;

        gap: 20px;
    }

    .section-2 .list-3 .list-items a {
        font-size: 0.7em;
    }

    .main-footer {
        margin-left: -220px;
        padding-bottom: 10px;
        color: rgb(247, 99, 45);
    }
}


@media(max-width: 490px) {



    .hamburger {
        margin-right: 0px;
    }

    .search {


        position: absolute;
        left: 150px;
        /* top: 1680px; */

    }




    .sch {

        height: 20px;
        width: 100px;
        margin-top: 5px;
        color: white;
        font-size: 9px;


    }

    .btn {
        width: 32px;
        height: 22px;
        font-size: 9px;
    }

    .section .sub-section .web-text {
        width: 425px;
    }


    .section .courses .courses-list {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    .section .courses .courses-list .courses-list-items {

        padding-bottom: 10px;
        width: 310px;

    }

    .section .courses .courses-list .courses-list-items span {

        padding: 5px 10px;

    }


    .section-1 {
        display: block;
        margin-left: 70px;
    }

    .section-1 p {
        display: block;
        margin-left: 20px;
    }

    .section-1 .list-2 {
        position: static;
        flex-direction: row;
        margin-left: 50px;
    }

    .section-1 .list-2 .list-items-1 {
        font-size: 10px;
    }

    .section-2 p {

        padding-top: 15px;
        margin-left: 50px;
        font-size: 1em;
        width: 400px;

    }


    .section-2 .sub {
        padding-top: 50px;
        margin-left: 0px;
    }


    .section-2 .sub h2 {
        color: rgb(247, 99, 45);
        padding-left: 85px;
        font-size: 1.5em;
    }

    .section-2 .sub input {
        margin-left: 155px;
        width: 150px;
        height: 20px;
        border-radius: 3px;
        padding: 5px;
    }

    .section-2 .sub .sub-text {
        border: 0px;
        padding-left: 105px;

    }

    .section-2 .sub .sub-text a {
        border: 1px #fff solid;
        padding: 2px 30px;
        border-radius: 3px;

    }

    .section-2 .sub-text-2 {
        margin-left: 50px;
        font-size: 0.8em;
        width: 260px;
    }

    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 20px;
        letter-spacing: 0px;
        width: 410px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;

        gap: 25px;
    }

    .main-footer {
        margin-left: -220px;
        padding-bottom: 10px;
        color: rgb(247, 99, 45);
    }
}

@media(max-width: 480px) {

    .search {
        display: none;
        /* 
        position: absolute;
        left: 100px;
        top: 1680px; */

    }

    .section-2 p {

        padding-top: 15px;
        margin-left: 50px;
        font-size: 1em;
        width: 400px;

    }


    .section-2 .sub {
        padding-top: 50px;
        margin-left: 0px;
    }


    .section-2 .sub h2 {
        color: rgb(247, 99, 45);
        padding-left: 85px;
        font-size: 1.5em;
    }

    .section-2 .sub input {
        margin-left: 155px;
        width: 150px;
        height: 20px;
        border-radius: 3px;
        padding: 5px;
    }

    .section-2 .sub .sub-text {
        border: 0px;
        padding-left: 105px;

    }

    .section-2 .sub .sub-text a {
        border: 1px #fff solid;
        padding: 2px 30px;
        border-radius: 3px;

    }

    .section-2 .sub-text-2 {
        margin-left: 50px;
        font-size: 0.8em;
        width: 260px;
    }

    .section-2 h1 {
        font-size: 1.1em;
        margin-left: 20px;
        letter-spacing: 0px;
        width: 410px;
        padding-top: 70px;
    }

    .section-2 .list-3 {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;

        gap: 25px;
    }

    .main-footer {
        margin-left: -220px;
        padding-bottom: 10px;
        color: rgb(247, 99, 45);
    }
}

@media(max-width: 470px) {
    .section-2 p {
        margin-left: 45px;
        width: 390px;
    }
}

@media(max-width: 460px) {


    .section .sub-section .web-text {
        width: 400px;
    }

    .section-2 p {
        margin-left: 30px;

    }

    .section-2 h1 {
        width: 390px;
    }

}

@media(max-width: 450px) {
    .section .sub-section .web-text {
        width: 370px;
    }

    .section-2 p {
        margin-left: 20px;

    }


    .section-2 .sub h2 {
        color: rgb(247, 99, 45);
        padding-left: 55px;
        font-size: 1.5em;
    }

    .section-2 .sub input {
        margin-left: 110px;
        width: 150px;
        height: 20px;
        border-radius: 3px;
        padding: 5px;
    }

    .section-2 .sub .sub-text {

        border: 0px;
        padding-left: 60px;

    }

    .section-2 h1 {
        width: 370px;
    }

    .section-2 .sub-text-2 {
        margin-left: 5px;
        width: 250px;
    }

}

@media(max-width: 440px) {

    .section-1 {
        margin-left: 50px;
    }

}

@media(max-width: 430px) {
    .section-2 {
        width: 200px;
    }
}

@media(max-width: 420px) {



    .container {}

    .main-header h1 {
        font-size: 1em;
        gap: 0px;
    }

    .hamburger {

        margin-right: 10px;
    }

    .search {
        position: absolute;
        left: 80px;
        top: 1680px;
    }

    .sch {

        height: 20px;
        width: 100px;
        margin-top: 5px;
        color: white;
        font-size: 9px;


    }

    .btn {
        width: 32px;
        height: 22px;
        font-size: 9px;
    }

    /* 
    .list {
        position: fixed;
        left: -100%;
        top: 0px;
        padding-top: 150px;
        width: 100%;
        height: 200%;
        background: linear-gradient(rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.5) 50%);

        border-right: 0.5px rgb(247, 99, 45) solid;
        transition: 0.8s ease-in-out;
        flex-direction: column;
        gap: 80px;
    } */
    .list {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        background: #262626;
        width: 100%;
        height: 100vh;
        padding: 100px 35px;
        transform: translateX(-500px);
        transition: 0.3s ease-in-out;
    }

    .list.active {
        transform: translateX(0px);
        background: #262626;
    }

    .section.active {
        display: none;

    }


    .section .sub-section h1 {
        font-size: 1.8em;
    }

    .section .sub-section .web-text {
        width: 350px;
        padding-top: 20px;
    }


    .section .courses .courses-list {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    .section .courses .courses-list .courses-list-items {

        padding-bottom: 10px;
        width: 250px;

    }

    .section .courses .courses-list .courses-list-items span {

        padding: 5px 10px;

    }


    .section-1 {
        display: block;
        margin-left: 70px;
    }

    .section-1 p {
        display: block;
        margin-left: 0px;
    }

    .section-1 .list-2 {
        position: static;
        flex-direction: row;
        margin-left: 20px;
    }

    .section-1 .list-2 .list-items-1 {
        font-size: 10px;
    }



    .section-2 p {

        padding-top: 15px;
        margin-left: 20px;
        font-size: 1em;
        width: 370px;

    }


    .section-2 .sub {

        padding-top: 50px;
        margin-left: 0px;
    }


    .section-2 .sub h2 {
        color: rgb(247, 99, 45);
        padding-left: 125px;
        font-size: 1.5em;
    }

    .section-2 .sub input {
        margin-left: 120px;
        width: 150px;
        height: 20px;
        border-radius: 3px;
        padding: 5px;
    }

    .section-2 .sub .sub-text {

        border: 0px;
        padding-left: 66px;

    }

    .section-2 .sub .sub-text a {
        border: 1px #fff solid;
        padding: 2px 30px;
        border-radius: 3px;

    }

    .section-2 .sub-text-2 {

        margin-left: 20px;
        font-size: 0.8em;
        width: 250px;
    }

    .section-2 h1 {

        font-size: 1.1em;
        margin-left: 20px;
        letter-spacing: 0px;
        width: 340px;
        padding-top: 70px;
    }

    .section-2 .list-3 {

        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;

        gap: 26px;
    }

    .main-footer {
        margin-left: -250px;
        padding-top: 70px;
        padding-bottom: 10px;
        color: rgb(247, 99, 45);
    }
}

@media (max-width: 410px) {

    .section-2 p {
        width: 330px;
    }


    .section-2 .sub h2 {
        color: rgb(247, 99, 45);
        padding-left: 135px;
        font-size: 1.5em;
    }

    .section-2 .sub input {
        margin-left: 120px;
        width: 150px;
        height: 20px;
        border-radius: 3px;
        padding: 5px;
    }

    .section-2 .sub .sub-text {

        border: 0px;
        padding-left: 66px;

    }
}

@media(max-width: 400px) {


    .main-header h1 {
        font-size: 1em;
        gap: 0px;
    }

    .hamburger {

        margin-right: 10px;
    }

    .search {
        /* position: absolute;
        left: 20px;
        top: 1680px; */
        display: none;
    }

    .sch {

        height: 20px;
        width: 100px;
        margin-top: 5px;
        color: white;
        font-size: 9px;


    }

    .btn {
        width: 32px;
        height: 22px;
        font-size: 9px;
    }

    /* 
    .list {
        position: fixed;
        left: -100%;
        top: 0px;
        padding-top: 150px;
        width: 100%;
        height: 200%;
        background: linear-gradient(rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.5) 50%);

        border-right: 0.5px rgb(247, 99, 45) solid;
        transition: 0.8s ease-in-out;
        flex-direction: column;
        gap: 80px;
    } */
    .list {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        background: #262626;
        width: 100%;
        height: 100vh;
        padding: 100px 35px;
        transform: translateX(-500px);
        transition: 0.3s ease-in-out;
    }

    .list.active {
        transform: translateX(0px);
        background: #262626;
    }

    .section.active {
        display: none;

    }


    .section .sub-section h1 {
        font-size: 1.8em;
    }

    .section .sub-section .web-text {
        width: 320px;
        padding-top: 20px;
    }


    .section .courses .courses-list {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    .section .courses .courses-list .courses-list-items {

        padding-bottom: 10px;
        width: 250px;

    }

    .section .courses .courses-list .courses-list-items span {

        padding: 5px 10px;

    }


    .section-1 {
        display: block;
        margin-left: 60px;
    }

    .section-1 p {
        display: block;
        margin-left: 0px;
    }

    .section-1 .list-2 {
        position: static;
        flex-direction: row;
        margin-left: 20px;
    }

    .section-1 .list-2 .list-items-1 {
        font-size: 10px;
    }



    .section-2 p {

        padding-top: 15px;
        margin-left: 35px;
        font-size: 1em;
        width: 310px;

    }


    .section-2 .sub {

        padding-top: 50px;
        margin-left: 0px;
    }


    .section-2 .sub h2 {
        color: rgb(247, 99, 45);
        padding-left: 125px;
        font-size: 1.5em;
    }

    .section-2 .sub input {
        margin-left: 110px;
        width: 150px;
        height: 20px;
        border-radius: 3px;
        padding: 5px;
    }

    .section-2 .sub .sub-text {

        border: 0px;
        padding-left: 60px;

    }

    .section-2 .sub .sub-text a {
        border: 1px #fff solid;
        padding: 2px 30px;
        border-radius: 3px;

    }

    .section-2 .sub-text-2 {

        margin-left: 10px;
        font-size: 0.8em;
        width: 250px;
    }

    .section-2 h1 {

        font-size: 1.1em;
        margin-left: 20px;
        letter-spacing: 0px;
        width: 330px;
        padding-top: 70px;
    }

    .section-2 .list-3 {

        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;
        gap: 30px;
        font-size: 0.8em;
    }



    .main-footer {
        margin-left: -250px;
        padding-top: 30px;
        padding-bottom: 10px;
        color: rgb(247, 99, 45);
    }
}

@media(max-width: 390px) {

    .section .sub-section .web-text {
        width: 310px;
        padding-top: 20px;
    }

    .section-2 p {

        padding-top: 15px;
        margin-left: 70px;
        font-size: 1em;
        width: 250px;

    }

    .section-2 .sub {

        padding-top: 50px;
        margin-left: 0px;
    }


    .section-2 .sub h2 {
        color: rgb(247, 99, 45);
        padding-left: 125px;
        font-size: 1.5em;
    }

    .section-2 .sub input {
        margin-left: 110px;
        width: 150px;
        height: 20px;
        border-radius: 3px;
        padding: 5px;
    }

    .section-2 h1 {

        font-size: 1.1em;
        margin-left: 20px;
        letter-spacing: 0px;
        width: 330px;
        padding-top: 70px;
    }

    .section-2 .list-3 {

        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;
        gap: 30px;
    }

    .main-footer {
        margin-left: -260px;
        padding-top: 30px;
        padding-bottom: 10px;
        color: rgb(247, 99, 45);
    }

}

@media(max-width: 380px) {
    .section-1 {
        display: block;
        margin-left: 20px;
    }

    .section-2 .sub h2 {
        color: rgb(247, 99, 45);
        padding-left: 120px;
        font-size: 1.5em;
    }

    .section-2 .sub input {
        margin-left: 105px;
        width: 150px;
        height: 20px;
        border-radius: 3px;
        padding: 5px;
    }

    .section-2 .sub .sub-text {

        border: 0px;
        padding-left: 53px;

    }



    .section-2 .sub-text-2 {

        margin-left: 5px;
        font-size: 0.8em;
        width: 250px;
    }

    .section-2 h1 {
        width: 310px;
    }

    .section-2 .list-3 {

        padding-top: 20px;
        padding-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;
        gap: 25px;
    }

    .main-footer {
        margin-left: -270px;
        padding-top: 30px;
        padding-bottom: 10px;
        color: rgb(247, 99, 45);
    }
}

@media(max-width: 370px) {
    .section .sub-section .web-text {
        width: 290px;
        padding-top: 20px;
    }

    .section-1 {
        display: block;
        margin-left: 37px;
    }

    .section-2 p {
        margin-left: 50px;
    }

    .section-2 .sub h2 {
        color: rgb(247, 99, 45);
        padding-left: 100px;
        font-size: 1.5em;
    }

    .section-2 .sub input {
        margin-left: 90px;
        width: 150px;
        height: 20px;
        border-radius: 3px;
        padding: 5px;
    }

    .section-2 .sub .sub-text {

        border: 0px;
        padding-left: 38px;

    }

    .section-2 .sub-text-2 {

        margin-left: -10px;
        font-size: 0.8em;
        width: 250px;
    }

    .section-2 h1 {
        width: 290px;
    }


    .section-2 .list-3 {

        gap: 20px;
    }

    .main-footer {
        margin-left: -280px;
        padding-top: 30px;
        padding-bottom: 10px;
        color: rgb(247, 99, 45);
    }

}

@media(max-width: 360px) {
    .section .sub-section .web-text {
        width: 270px;
        padding-top: 20px;
    }

    .section-1 {
        display: block;
        margin-left: 30px;
    }


    .section-2 .sub input {
        margin-left: 80px;
        width: 150px;
        height: 20px;
        border-radius: 3px;
        padding: 5px;
    }

    .section-2 .sub .sub-text {

        border: 0px;
        padding-left: 28px;

    }

    .section-2 .sub-text-2 {

        margin-left: -20px;
        font-size: 0.8em;
        width: 250px;
    }

    .section-2 h1 {
        width: 285px;
    }


    .section-2 .list-3 {

        gap: 20px;
    }

}


@media(max-width: 350px) {

    .section-1 {
        display: block;
        margin-left: 35px;
    }

    .section-2 p {
        margin-left: 40px;
    }

    .section-2 .sub h2 {
        padding-left: 80px;
    }

    .section-2 .sub input {
        margin-left: 65px;
        width: 150px;
        height: 20px;
        border-radius: 3px;
        padding: 5px;
    }

    .section-2 .sub .sub-text {

        border: 0px;
        padding-left: 13px;

    }

    .section-2 .sub-text-2 {

        margin-left: -40px;
        font-size: 0.8em;
        width: 240px;
    }

    .section-2 h1 {
        width: 270px;
    }


    .section-2 .list-3 {

        gap: 15px;
    }


    .main-footer {
        margin-left: -295px;

    }
}

@media(max-width: 340px) {
    .section-1 {
        display: block;
        margin-left: 20px;
    }

    .section-2 h1 {
        width: 255px;
    }


    .section-2 .list-3 {

        gap: 10px;
    }
}

@media(max-width: 330px) {

    .section .sub-section .web-text {
        width: 250px;
        padding-top: 20px;
    }


    .section-1 {
        margin-left: 15px;
    }

    .section-2 p {
        margin-left: 30px;
    }

    .section-2 h1 {
        width: 240px;
    }

    .section-2 .list-3 {

        gap: 7px;
    }

    .main-footer {
        margin-left: -310px;
    }

}

@media(max-width: 330px) {}